# --- TRIP.AI ENVIRONMENT VARIABLES (TEMPLATE) ---

# AI Engine
GROQ_API_KEY=enter_your_groq_key_here

# Live Data APIs
SERPAPI_KEY=enter_your_serpapi_key_here

# TiDB Cloud Database
DB_HOST=enter_tidb_host_url
DB_USER=enter_tidb_username
DB_PASS=enter_tidb_password
DB_NAME=test
DB_PORT=4000